{% extends "auctions/layout.html" %}


{% block body %}
    {% if success %}
        <h3>SUCCESSFULLY CREATED</h3>
    {% endif %}

    <section class="bg-white dark:bg-gray-900">
        <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
            <form class="newListingForm" action="{% url 'newListing' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                    <div class="sm:col-span-2">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                        {{ form.title }}
                    </div>
                    <div class="sm:col-span-2">

                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                    {{ form.category }}
                    </div>
                    
                </div>
                <div class="flex items-center justify-center w-full">
                    <div class="w-full">
                        <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                        
                        {{ form.description }}
                    </div>
                </div>

                <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
                    <div class="w-full">
                        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                        {{ form.startingBid }}
                    </div>
                </div>

                
    
                {{ imageForm.management_form }}  

                {% for form in imageForm %}
                <div class="mb-4">
                    {{ form }}
                    
                </div>
                    
                {% endfor %}      
                
                

                <div class="flex items-center justify-center mt-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg" type="submit">
                        Submit
                    </button>
                </div>
                
            </form>
        </div>
    </section>
{% endblock %}

